.top-bar {
    background-color: #1C1C1E;
    color: #dddddd;
    display: flex;
    justify-content: space-between; /* Равномерное распределение элементов по ширине контейнера */
    align-items: center; /* Выравнивание элементов по вертикали */
    height: 126px;
}

/* Стили для логотипа */
.logo {
    cursor: pointer; /* Изменение курсора при наведении для обозначения кликабельности */
}

/* Стили для кнопки поиска */
.search {
    flex: 1; /* Занимает всё доступное пространство */
    margin: 0 10px; /* Пример отступов от краев */
}

/* Стили для аватарки пользователя */
.user-avatar {
}

.closeFunc {
    position: fixed;
    top: 36px; /* Выберите желаемое верхнее расстояние */
    right: 162px; /* Выберите желаемое правое расстояние */
    padding: 0; /* Убираем отступы внутри кнопки */
    border: none; /* Убираем границу кнопки */
    background: none; /* Убираем фон кнопки */
    cursor: pointer;
}

.closeFunc img {
    width: 25px; /* Выберите желаемую ширину изображения */
    height: 25px; /* Выберите желаемую высоту изображения */
}

.closeFunc:hover img {
    opacity: 0.8; /* Уменьшаем прозрачность изображения при наведении */
}




